:root {
  --active-bg-color: #4c1cac;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a {
    color: #dbdbdb;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    color: #dbdbdb;
    font-family: -apple-system,BlinkMacSystemFont,Open Sans,Roboto,Helvetica Neue,Helvetica,sans-serif;
    min-width: 1290px;
}

.app {
    width: 100%;
    min-height: 1000px;
    background-color: #141414;
}




.content {
    max-width: 1820px;
    margin: 100px auto;
    padding: 0 20px;
}

.wall {
    width: 100%;
    height: 2000px;
}

.slide-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    font-size: 18px;
    font-weight: 600;
    color: #cecece;
    position: relative;
}

.static {
    position: absolute;
    right: 3px;
    color: #6C52FF;
    font-size: 14px;
    outline: 1px solid #6C52FF;
    padding: 0.4em 10px;
    cursor: pointer;
}

.static:hover {
    background-color: #6C52FF;
    color: #000000;
    outline: 1px solid #6C52FF;
}




