.player {
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 32px;
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(10, 10, 10, 0.43) 0px 0px 7px;
    overflow: hidden;
    z-index: 9999;
    background-color: #171717;
    transition: all 0.4s;
}

.player-full {
    height: 70%;
    max-height: 564px;
    transition: all 0.4s;
}

.mini-player {
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #222222;
    padding: 15px;
    transition: all 0.4s;
    margin-bottom: 4px;
}

.player-full .mini-player {
    margin-top: -75px;
    transition: all 0.4s;
}

.mini-player img {
    width: 46px;
    border-radius: 6px;
    box-shadow: rgba(10, 10, 10, 0.43) 0px 0px 5px;
    cursor: pointer;
}

.main-player-song-name {
    color: #cecece;
    font-weight: 600;
    font-size: 17px;
}

.main-player-song-athtor {
    color: #6C52FF;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.main-player-song-athtor:hover {
    text-decoration: underline;
}

.track-d {
    flex-grow: 1.0;
    margin: 0 18px;
    padding-right: 30px;
    margin-top: -2px;
}

.play-list-btn {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.1s;
}

.play-list-btn:hover {
    background-color: #2c2c2c;
    box-shadow: rgba(10, 10, 10, 0.15) 0px 0px 5px;
    transition: all 0.1s;
}

.play-list-btn::after {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid #6C52FF;
    margin-bottom: 9px;
}

.main-player-play {
    position: absolute;
    width: 46px;
    height: 46px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 163.9 163.9' style='enable-background:new 0 0 163.9 163.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23FFF;} %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M34.9,3.6C20.1-4.9,8.1,2.1,8.1,19.1v125.6c0,17,12,24,26.8,15.5l109.8-63c14.8-8.5,14.8-22.2,0-30.7L34.9,3.6 z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 47%;
    background-color: rgba(0, 0, 0, 0.49);
    border-radius: 6px;
    cursor: pointer;
}
.mini-timebar {
    width: 100%;
    height: 4px;
    background-color: #3e3e3e;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
}

.mini-timebar div {
    height: 100%;
    width: 30%;
/*    background-color: #ffffff;*/
    background-color: #6f56ff;
}

.close-tracklist-wrapp {
    background-color: rgba(255, 0, 0, 0.05);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 13px;
}

.cloase-tracklist-btn {
    outline: 1px solid;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.image-track {
    width: 100%;
    display: flex;
    justify-content: center;
}


.image-track img {
    width: 250px;
}